@font-face {
    font-family: "PP Neue Montreal";
    font-display: swap;
    src:
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PP Neue Montreal";
    font-display: swap;
    src:
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-SemiBold.woff') format('woff'),
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PP Neue Montreal";
    font-display: swap;
    src:
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PP Neue Montreal";
    font-display: swap;
    src:
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/PPNeueMontreal-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "IBM Plex Mono";
    font-display: swap;
    src:
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/IBMPlexMono-Regular.woff') format('woff'),
    url('//anti-brands.fra1.digitaloceanspaces.com/brands/forskningsradet/fonts/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  :root {
    --r-main-font: "PP Neue Montreal", Arial, Helvetica, sans-serif;
    --r-heading-font: "PP Neue Montreal", Arial, Helvetica, sans-serif;
    --r-code-font: "IBM Plex Mono", "Courier New", Courier, monospace;
    --r-heading-text-transform: none;
    --r-link-color: #5c5bee;
    --r-link-color-dark: #{darken($linkColor , 15% )};
    --r-link-color-hover: #303030;
    --r-selection-background-color: #d6e82b;
    --r-selection-color: #303030;
    --r-heading-font-weight: 700;
  }

  .reveal .slides {
    text-align: left;
    font-size: 90%;
  }
  
  .reveal:after {
    position: fixed;
    display: block;
    left: 0px;
    bottom: 8px;
    z-index: -31;
    width: 8vw;   
    height: 8vw;
    min-width: 64px;
    min-height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg width='1100' height='1100' viewBox='0 0 1100 1100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m353.7 308c-25.2 0-45.7 20.5-45.7 45.7v392.5c0 25.2 20.5 45.8 45.7 45.8h130.9c19.9 0 37.6-13 43.7-31.9l49.7-156.7c1.4-4.2 3.4-8 6.1-11.6 12.9-17.3 37.6-20.8 54.8-7.8l83.8 62.8c6.2 4.7 13.7 7.4 21.5 7.8 21.7 1.1 40.1-15.6 41.2-37.2l6.4-130.6c0.7-11.6-3.2-23.2-10.8-32-16.5-19.2-45.4-21.5-64.6-5l-75.6 64.5c-3.9 3.5-8.6 6-13.5 7.6-20.7 6.6-42.7-4.7-49.3-25.4s4.7-42.8 25.4-49.3l156.7-49.8c18.9-6.1 31.9-23.7 31.9-43.7 0-25.2-20.6-45.7-45.8-45.7h-130.8c-20 0-37.6 12.9-43.7 31.9l-49.8 156.6c-3.8 12.1-13.3 21.6-25.4 25.4-20.7 6.6-42.8-4.7-49.3-25.4l-49.8-156.6c-6.1-19-23.7-31.9-43.7-31.9z' /%3E%3C/svg%3E");
    background-size: contain;
    background-position: 0% 100%;
    background-repeat: no-repeat;
  }
  
  .halfsplit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
    "left right";
  }
  
  .thirdsplit {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
    "left right";
  }
  
  .threes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    padding: 1vw;
    grid-template-areas:
    "one two three";
  }
  
  .gridleft { grid-area: left; border-radius: 1vw; padding: 1vw;  background: #f4f4f4; }
  .gridright { grid-area: right; border-radius: 1vw; padding: 1vw; background: #c0c1ff; }
